@import "../../styles/theme";
@import "../../styles/border";
@import "../../styles/glow";
@import "../../styles/font";

.input {
  background-color: transparent;
  padding: 0.5rem;
  &:focus {
    outline: 0;
  }
}

@mixin input-colors ($color) {
  @include font();
  @include border($color);
  @include outer-glow($color);
  @include hover-glow($color);
  color: $color;

  &:focus {
    background-color: $color;
    color: black;
  }

  &::selection {
    background-color: black;
    color: $color;
  }
}

.input-primary {
  @include input-colors($primary-color);
}